.all_information{
  display: flex;
  justify-content: space-between;

  img{
    max-width: 150px;
    min-width: 150px;
    border-radius: 5px;
  }

}
.loading{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader{
    display: flex;
    height: 20px;
    width: 170px;

    &:after{
      content: "Loading" ;
      animation: loading-text 3s infinite;
    }
  }
}

@keyframes loading-text{
  0%
  {content: "Loading";}

  25%
  {content: "Loading.";}

  50%
  {content: "Loading..";}

  75%
  {content: "Loading...";}
}
